/* about section */
.about, .portfolio {
    background-color: $secondaryBackground;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .resumeButton {
        background-color: $mainTextColor;
        color: $secondaryBackground;
        padding: 15px;
        display: inline-block;
        font-size: 0.8rem;
        margin-top: 10px;
        border-radius: 5px;
        &:hover {
            background-color: $hoverBackground;
            color: $mainTextColor;
            transition: background-color 0.3s ease;
        }
    }
    .aboutImg {
        width: 35%;
        padding: 40px;
        margin: 0 auto;
        img {
            box-shadow: 15px 15px $mainTextColor;
            border-radius: 5px;
        }
    }
    .aboutText {
        width: 65%;
        h3 {
            &:before {
                width: 153px;
            }
        }
    }
}