.contactContainer {
    .leftContainer {
        margin-top: 20px;
        h3 {
            &:before {
                width: 179px;
            }
        }
        p {
            margin-top: 20px;
            a {
                font-weight: 400;
                text-decoration: underline;
            }
            text-align: center;
        }
        .socialMedia {
            display: flex;
            justify-content: center;
            i {
                font-size: 2rem;
                padding: 10px;
                margin: 5px;
            }
        }
    }
}