// hero header

.heroImage {
    background-image: url('../assets/procreate.png');
    background-size: 600px;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    margin-top: 90px;
    .heroText {
        position: absolute;
        left: 50%;
        bottom: 50%;
    }
}
