.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondaryBackground;
    nav {
        position: relative;
        ul {
            display: flex;
            li {
                padding: 0 10px;
            }
        }
        i {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 1.5rem;
            display: none;
        }
    }
    .navLogo {
        width: 90px;
    }
}