.navBarSticky {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background-color: $secondaryBackground;
    z-index: 10;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        position: relative;
        ul {
            display: flex;
            a {
                padding: 10px 10px;
            }
        }
        i {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 1.5rem;
            display: none;
        }
    }
    .navLogo {
        width: 90px;
        &:hover {
            box-shadow: 0 2px $mainTextColor;
        }
    }
}