// skills section

.skillsContainer {
    h3 {
        &:before {
            width: 170px;
        }
    }
    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
            li {
                width: calc(100% / 5 - 10px);
                text-align: center;
                padding: 20px;
                i {
                    font-size: 2rem;
                }
            }
    }
}