// skills section

.skillsContainer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        width: calc(100% / 5 - 10px);
        text-align: center;
        padding: 10px;
        i {
            font-size: 2rem;
        }
    }
}