html {
    font-size: 125%;
    font-family: $bodyFont;
    color: $mainTextColor;
    background-color: $mainBackground;
    scroll-behavior: smooth;
}

h2 {
    font-family: $headingFont;
    font-weight: 700;
    font-size: 2.8rem;
}

h1 {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 0;
}

h3 {
    font-family: $headingFont;
    font-size: 1.5rem;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        display: inline-block;
        width: 160px;
        height: 20px;
        bottom: 10px;
        left: -10px;
        background-color: $hoverBackground;
        position: absolute;
        z-index: -1;
    }
}

h4 {
    font-family: $headingFont;
    font-size: 1.5rem;
    padding: 15px 5px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(112, 75, 62, 0.5);
}


a {
    font-weight: 300;
    text-decoration: none;
    color: $mainTextColor;
    border-radius: 5px;
    &:hover {
        background-color: $hoverBackground;
        padding: 0;
        transition: background-color 0.3s ease;
    }
}

em, .textProject p:nth-of-type(2) {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 0.8rem;
}

.textProject p:nth-of-type(2) a {
    text-decoration: underline;
}

p,
span a {
    font-weight: 400;
    padding: 10px 0;
    font-size: 0.9rem;
    line-height: 1.6;
    font-family: $bodyFont;
}

span a {
    text-decoration: underline;
}

.skillsContainer p {
    font-weight: 300;
    font-size: 0.8rem;
}

footer p {
    font-size: 0.75rem;
    color: $secondaryTextColor;
    text-align: center;
    font-weight: 300;
}


/* general styles */

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    margin: 0 auto;
    width: 95%;
    max-width: 1080px;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

// header 
header {
    background-color: $mainBackground;
    height: 100%;
    position: relative;
}

// sections
section {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* footer */

footer {
    background-color: $mainTextColor;
    padding: 20px;
}