html {
    font-size: 125%;
    font-family: $bodyFont;
    color: $mainTextColor;
    background-color: $mainBackground;
}

h1 {
    font-family: $cursiveFont;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-weight: 300;
    font-size: 1.5rem;
}

h3 {
    font-family: $cursiveFont;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px 0;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        display: inline-block;
        width: 110px;
        height: 20px;
        bottom: 10px;
        background-color: $hoverBackground;
        position: absolute;
        z-index: -1;
    }
}

a {
    font-weight: 300;
    text-decoration: none;
    color: $mainTextColor;
    &:hover {
        background-color: $hoverBackground;
        padding: 0;
    }
}

p,
span a {
    font-weight: 400;
    padding: 10px 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

footer p {
    font-size: 0.75rem;
    color: $secondaryTextColor;
    text-align: center;
    font-weight: 300;
}


/* general styles */

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    margin: 0 auto;
    width: 95%;
    max-width: 1080px;
}

ul {
    list-style-type: none;
}

// borders

.borderOne {
    background-color: $secondaryBackground;
    &::after {
        content: '';
        display: inline-block;
        height: 50px;
        width: 100%;
        position: absolute;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 50%);
        background-color: $mainBackground;
        bottom: 0;
    }
}

.borderTwo {
    background-color: $secondaryBackground;
    position: relative;
    &::after {
        content: '';
        display: inline-block;
        height: 50px;
        width: 100%;
        position: absolute;
        clip-path: polygon(0 0, 100% 0, 40% 100%);
        background-color: $mainBackground; 
    }
}

.borderThree {
    background-color: $mainBackground;
    position: relative;
    &::after {
        content: '';
        display: inline-block;
        height: 50px;
        width: 100%;
        position: absolute;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        background-color: $secondaryBackground; 
    }
}

.borderFour {
    background-color: $secondaryBackground;
    position: relative;
    &::after {
        content: '';
        display: inline-block;
        height: 100px;
        width: 100%;
        position: absolute;
        clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
        background-color: $mainBackground; 
    }
}

// header 
header {
    background-color: #FFF0ED;
    height: 100%;
    position: relative;
}

// sections
section {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* footer */

footer {
    background-color: #704B3E;
    padding: 20px;
}