$mainBackground: #FFF0ED;
$secondaryBackground:#FFFBFB;
$mainTextColor: #704B3E;
$secondaryTextColor: #FFFBFB;
$hoverBackground: rgb(239, 200, 190, 0.7);

$headingFont: 'Playfair Display', serif;
$bodyFont: 'Lato', sans-serif;

// font-family: 'Lato', sans-serif;
// 300, 400, 700

// font-family: 'Playfair Display', serif;
// 400, 400 italic, 700