$mainBackground: #FFF0ED;
$secondaryBackground:#FFFBFB;
$mainTextColor: #704B3E;
$secondaryTextColor: #FFFBFB;
$hoverBackground: rgb(239, 200, 190, 0.7);

$cursiveFont: 'Petit Formal Script', cursive;
$bodyFont: 'Lato', sans-serif;

// font-family: 'Lato', sans-serif;
// 300, 400, 700

// font-family: 'Montserrat', sans-serif;
// 300, 700

// font-family: 'Petit Formal Script', cursive;