$mainBackground: #FFF0ED;
$secondaryBackground:#FFFBFB;
$mainTextColor: #704B3E;
$secondaryTextColor: #FFFBFB;
$hoverBackground: rgb(239, 200, 190, 0.7);

$cursiveFont: 'Gochi Hand',
cursive;
$bodyFont: 'Open Sans',
sans-serif;