@import "partials/setup";
@import "partials/variables";
@import "partials/typography-general";

/* header */

header {
    background-color: #FFF0ED;
}


/* footer */

footer {
    background-color: #704B3E;
    padding: 20px;
}