html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  font-family: "Lato", sans-serif;
  color: #704B3E;
  background-color: #FFF0ED;
}

h1 {
  font-family: "Petit Formal Script", cursive;
  font-weight: 700;
  font-size: 2.8rem;
}

h2 {
  font-weight: 300;
  font-size: 1.5rem;
}

h3 {
  font-family: "Petit Formal Script", cursive;
  font-size: 1.5rem;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}
h3::before {
  content: "";
  display: inline-block;
  width: 160px;
  height: 20px;
  bottom: 10px;
  left: -10px;
  background-color: rgba(239, 200, 190, 0.7);
  position: absolute;
  z-index: -1;
}

h4 {
  font-family: "Petit Formal Script", cursive;
  font-size: 1.2rem;
  padding: 5px 0;
  -webkit-text-decoration: underline 5px rgba(239, 200, 190, 0.7);
          text-decoration: underline 5px rgba(239, 200, 190, 0.7);
}

a {
  font-weight: 300;
  text-decoration: none;
  color: #704B3E;
  border-radius: 5px;
}
a:hover {
  background-color: rgba(239, 200, 190, 0.7);
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

p,
span a {
  font-weight: 400;
  padding: 10px 0;
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

.skillsContainer p {
  font-weight: 300;
}

footer p {
  font-size: 0.75rem;
  color: #FFFBFB;
  text-align: center;
  font-weight: 300;
}

/* general styles */
img {
  max-width: 100%;
  display: block;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 1080px;
}

ul {
  list-style-type: none;
}

header {
  background-color: #FFF0ED;
  height: 100%;
  position: relative;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* footer */
footer {
  background-color: #704B3E;
  padding: 20px;
}

.borderOne {
  background-color: #FFF0ED;
}
.borderOne::after {
  content: "";
  display: inline-block;
  height: 70px;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 50%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 50%);
  background-color: #FFFBFB;
  bottom: 0;
}

.borderTwo {
  background-color: #FFF0ED;
  position: relative;
}
.borderTwo::after {
  content: "";
  display: inline-block;
  height: 50px;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 40% 100%);
          clip-path: polygon(0 0, 100% 0, 40% 100%);
  background-color: #FFFBFB;
}

.borderThree {
  background-color: #FFFBFB;
  position: relative;
}
.borderThree::after {
  content: "";
  display: inline-block;
  height: 70px;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: #FFF0ED;
}

.borderFour {
  background-color: #FFF0ED;
  position: relative;
}
.borderFour::after {
  content: "";
  display: inline-block;
  height: 100px;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
  background-color: #FFFBFB;
}

.navBarSticky {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background-color: #FFF0ED;
  z-index: 10;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navBar nav {
  position: relative;
}
.navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBar nav ul a {
  padding: 10px 20px;
  color: #704B3E;
}
.navBar nav i {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 2rem;
  display: none;
  padding: 10px;
  background-color: #FFFBFB;
}

.heroImage {
  background-image: url("../assets/procreate.png");
  background-size: 600px;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  margin-top: 180px;
}
.heroImage .heroText {
  position: absolute;
  left: 50%;
  bottom: 65%;
}

/* about section */
.about, .portfolio {
  background-color: #FFFBFB;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutContainer .resumeButton {
  background-color: #704B3E;
  color: #FFFBFB;
  padding: 15px;
  display: inline-block;
  font-size: 0.8rem;
  margin-top: 10px;
  border-radius: 5px;
}
.aboutContainer .resumeButton:hover {
  background-color: rgba(239, 200, 190, 0.7);
  color: #704B3E;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.aboutContainer .aboutImg {
  width: 35%;
  padding: 40px;
  margin: 0 auto;
}
.aboutContainer .aboutImg img {
  -webkit-box-shadow: 15px 15px #704B3E;
          box-shadow: 15px 15px #704B3E;
  border-radius: 5px;
}
.aboutContainer .aboutText {
  width: 65%;
}

.skillsContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skillsContainer ul li {
  width: calc(100% / 5 - 10px);
  text-align: center;
  padding: 10px;
}
.skillsContainer ul li i {
  font-size: 2rem;
}

.projects .eachProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .eachProject .imgProject {
  width: calc(100% / 2 - 20px);
}
.projects .eachProject .textProject {
  width: calc(100% / 2 - 20px);
}
.projects .eachProject .textProject .usedTech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}
.projects .eachProject .textProject .usedTech i {
  padding: 10px;
  font-size: 1.5rem;
}
.projects .eachProject .textProject .projectSites {
  margin: 10px 0;
}
.projects .eachProject .textProject .projectSites a {
  padding: 10px;
  background-color: rgba(239, 200, 190, 0.7);
  font-size: 0.8rem;
}
.projects .eachProject .textProject .projectSites a:hover {
  background-color: #704B3E;
  color: #FFFBFB;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactContainer .leftContainer {
  width: 40%;
  margin-top: 20px;
}
.contactContainer .leftContainer p {
  margin-top: 20px;
}
.contactContainer .leftContainer .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.contactContainer .leftContainer .socialMedia i {
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
}
.contactContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-top: 20px;
  padding: 50px;
}
.contactContainer form input, .contactContainer form textarea {
  margin: 6px;
  border: 1px solid #704B3E;
  padding: 10px;
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border-radius: 5px;
}
.contactContainer form input::-webkit-input-placeholder, .contactContainer form textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form input::-moz-placeholder, .contactContainer form textarea::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form input:-ms-input-placeholder, .contactContainer form textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form input::-ms-input-placeholder, .contactContainer form textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form input::placeholder, .contactContainer form textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 10px;
  border: none;
  background-color: #704B3E;
  color: #FFFBFB;
  margin: 6px;
  border-radius: 5px;
}
.contactContainer form button:hover {
  background-color: rgba(239, 200, 190, 0.7);
  color: #704B3E;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
  .navBarSticky {
    background-color: #FFFBFB;
  }

  .navBar nav {
    width: 100%;
    text-align: center;
  }
  .navBar nav ul {
    display: none;
  }
  .navBar nav i {
    display: block;
  }
  .navBar nav .showMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: 70px;
    display: block;
  }
  .navBar nav .showMenu li {
    padding: 20px;
  }
  .navBar nav .showMenu li a {
    padding: 10px;
  }
  .navBar nav .showMenu li a:hover {
    color: #704B3E;
    background-color: rgba(239, 200, 190, 0.7);
  }
}