html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  font-family: "Lato", sans-serif;
  color: #704B3E;
  background-color: #FFF0ED;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2.8rem;
}

h2 {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 10px 0;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}
h3::before {
  content: "";
  display: inline-block;
  width: 160px;
  height: 20px;
  bottom: 10px;
  left: -10px;
  background-color: rgba(239, 200, 190, 0.7);
  position: absolute;
  z-index: -1;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  padding: 15px 0;
  -webkit-text-decoration: underline 5px rgba(239, 200, 190, 0.7);
          text-decoration: underline 5px rgba(239, 200, 190, 0.7);
}

a {
  font-weight: 300;
  text-decoration: none;
  color: #704B3E;
  border-radius: 5px;
}
a:hover {
  background-color: rgba(239, 200, 190, 0.7);
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

em, .textProject p:nth-of-type(2) {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 0.8rem;
}

p,
span a {
  font-weight: 400;
  padding: 10px 0;
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

.skillsContainer p {
  font-weight: 300;
}

footer p {
  font-size: 0.75rem;
  color: #FFFBFB;
  text-align: center;
  font-weight: 300;
}

/* general styles */
img {
  max-width: 100%;
  display: block;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: 1080px;
}

ul {
  list-style-type: none;
}

header {
  background-color: #FFF0ED;
  height: 100%;
  position: relative;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* footer */
footer {
  background-color: #704B3E;
  padding: 20px;
}

.borderOne {
  background-color: #FFF0ED;
}
.borderOne::after {
  content: "";
  display: inline-block;
  height: 70px;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 50%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 50% 50%);
  background-color: #FFFBFB;
  bottom: 0;
}

.borderTwo {
  background-color: #FFF0ED;
  position: relative;
}
.borderTwo::after {
  content: "";
  display: inline-block;
  height: 50px;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 40% 100%);
          clip-path: polygon(0 0, 100% 0, 40% 100%);
  background-color: #FFFBFB;
}

.borderThree {
  background-color: #FFFBFB;
  position: relative;
}
.borderThree::after {
  content: "";
  display: inline-block;
  height: 70px;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  background-color: #FFF0ED;
}

.borderFour {
  background-color: #FFF0ED;
  position: relative;
}
.borderFour::after {
  content: "";
  display: inline-block;
  height: 100px;
  width: 100%;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);
  background-color: #FFFBFB;
}

.navBarSticky {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background-color: #FFF0ED;
  z-index: 10;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.navBar .logo {
  position: absolute;
  top: 5px;
  left: 0;
}
.navBar .logo:hover {
  background-color: transparent;
  color: #efc8be;
}
.navBar h1 {
  letter-spacing: -5px;
  font-size: 2.2rem;
}
.navBar nav {
  position: relative;
}
.navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBar nav ul a {
  padding: 10px 20px;
  color: #704B3E;
}

footer i {
  position: fixed;
  font-size: 1.6rem;
  bottom: 20px;
  right: 20px;
  color: #efc8be;
}

@media (max-width: 600px) {
  .navBarSticky {
    background-color: transparent;
  }
  .navBarSticky .navBar {
    margin: 0;
    width: 100%;
  }
  .navBarSticky .navBar .logo {
    display: none;
  }
  .navBarSticky .navBar nav {
    width: 100%;
    text-align: center;
    right: -1000px;
    -webkit-transition: all 0.7s cubic-bezier(0.01, 0.55, 0.73, 0.96);
    transition: all 0.7s cubic-bezier(0.01, 0.55, 0.73, 0.96);
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(238, 223, 220, 0.98)), to(rgba(255, 251, 251, 0.98)));
    background-image: linear-gradient(to right bottom, rgba(238, 223, 220, 0.98), rgba(255, 251, 251, 0.98));
  }
  .navBarSticky .navBar nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: 70px;
  }
  .navBarSticky .navBar nav ul li {
    padding: 20px;
  }
  .navBarSticky .navBar nav ul li a {
    padding: 10px;
  }
  .navBarSticky .navBar nav ul li a:hover {
    color: #704B3E;
    background-color: rgba(239, 200, 190, 0.7);
  }
  .navBarSticky .navBar .showMenu {
    right: 0;
  }

  .menuPosition {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .menuBtn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #FFFBFB;
  }

  .menuBurger {
    width: 40px;
    height: 6px;
    background-color: #704B3E;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menuBurger:before, .menuBurger:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #704B3E;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menuBurger:before {
    -webkit-transform: translateY(-13px);
            transform: translateY(-13px);
  }
  .menuBurger:after {
    -webkit-transform: translateY(13px);
            transform: translateY(13px);
  }

  .menuBtn.open .menuBurger {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .menuBtn.open .menuBurger:before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }

  .menuBtn.open .menuBurger:after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }
}
.heroImage {
  background-image: url("../assets/procreate.png");
  background-size: 600px;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
  margin-top: 180px;
}
.heroImage .heroText {
  position: absolute;
  left: 50%;
  bottom: 55%;
}

/* about section */
.about, .portfolio {
  background-color: #FFFBFB;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutContainer .resumeButton {
  background-color: #704B3E;
  color: #FFFBFB;
  padding: 15px;
  display: inline-block;
  font-size: 0.8rem;
  margin-top: 10px;
  border-radius: 5px;
}
.aboutContainer .resumeButton:hover {
  background-color: rgba(239, 200, 190, 0.7);
  color: #704B3E;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.aboutContainer .aboutImg {
  width: 35%;
  padding: 40px;
  margin: 0 auto;
}
.aboutContainer .aboutImg img {
  -webkit-box-shadow: 15px 15px #704B3E;
          box-shadow: 15px 15px #704B3E;
  border-radius: 5px;
}
.aboutContainer .aboutText {
  width: 65%;
}
.aboutContainer .aboutText h3:before {
  width: 153px;
}

.skillsContainer h3:before {
  width: 170px;
}
.skillsContainer ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skillsContainer ul li {
  width: calc(100% / 5 - 10px);
  text-align: center;
  padding: 20px;
}
.skillsContainer ul li i {
  font-size: 2rem;
}

.portfolio h3:before {
  width: 181px;
}

.projects .eachProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .eachProject .imgProject {
  width: calc(100% / 2 - 20px);
}
.projects .eachProject .imgProject:nth-of-type(2) {
  padding-top: 25px;
}
.projects .eachProject .textProject {
  width: calc(100% / 2 - 20px);
}
.projects .eachProject .textProject p {
  padding: 5px 0;
}
.projects .eachProject .textProject .usedTech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}
.projects .eachProject .textProject .usedTech i {
  padding: 10px;
  font-size: 1.5rem;
}
.projects .eachProject .textProject .projectSites {
  margin: 10px 0;
}
.projects .eachProject .textProject .projectSites a {
  padding: 10px;
  background-color: rgba(239, 200, 190, 0.7);
  font-size: 0.8rem;
}
.projects .eachProject .textProject .projectSites a:hover {
  background-color: #704B3E;
  color: #FFFBFB;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactContainer .leftContainer {
  width: 40%;
  margin-top: 20px;
}
.contactContainer .leftContainer h3:before {
  width: 179px;
}
.contactContainer .leftContainer p {
  margin-top: 20px;
}
.contactContainer .leftContainer .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.contactContainer .leftContainer .socialMedia i {
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
}
.contactContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-top: 20px;
  padding: 50px;
}
.contactContainer form input, .contactContainer form textarea {
  margin: 6px;
  border: 1px solid #704B3E;
  padding: 10px;
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border-radius: 5px;
}
.contactContainer form input::-webkit-input-placeholder, .contactContainer form textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form input::-moz-placeholder, .contactContainer form textarea::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form input:-ms-input-placeholder, .contactContainer form textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form input::-ms-input-placeholder, .contactContainer form textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form input::placeholder, .contactContainer form textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contactContainer form button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 10px;
  border: none;
  background-color: #704B3E;
  color: #FFFBFB;
  margin: 6px;
  border-radius: 5px;
}
.contactContainer form button:hover {
  background-color: rgba(239, 200, 190, 0.7);
  color: #704B3E;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media (max-width: 1030px) {
  .skillsContainer h3 {
    margin-bottom: 10px;
  }
  .skillsContainer ul li {
    width: calc(100% / 4);
    padding: 10px;
  }
}
@media (max-width: 925px) {
  .heroImage {
    background-size: 400px;
    height: 400px;
  }
  .heroImage .heroText {
    left: 40%;
  }

  .aboutContainer .aboutImg {
    width: 50%;
  }
  .aboutContainer .aboutText {
    width: 50%;
  }
}
@media (max-width: 790px) {
  .heroImage .heroText {
    left: 50%;
  }
  .heroImage .heroText h1 {
    font-size: 2rem;
  }
  .heroImage .heroText h2 {
    font-size: 1.2rem;
  }

  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .aboutContainer .aboutText {
    width: 100%;
  }
  .aboutContainer .aboutImg {
    width: 60%;
  }

  .portfolio {
    padding-bottom: 1px;
  }

  .projects .eachProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .projects .eachProject .imgProject, .projects .eachProject .textProject {
    width: 80%;
  }
  .projects .eachProject:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactContainer p {
    text-align: center;
    padding: 0;
  }
  .contactContainer .leftContainer .socialMedia {
    margin: 0;
  }
  .contactContainer .leftContainer, .contactContainer form {
    width: 100%;
  }
  .contactContainer form {
    padding: 10px;
    margin-top: 0;
  }
}
@media (max-width: 630px) {
  .heroImage .heroText {
    left: 60%;
    padding-right: 10px;
  }

  .aboutContainer .aboutImg {
    width: 80%;
  }
}
@media (max-width: 540px) {
  .heroImage {
    margin-top: 250px;
  }
  .heroImage .heroText {
    bottom: 110%;
    left: 9%;
  }

  .skillsContainer ul li {
    width: calc(100% / 3);
  }
}
@media (max-width: 460px) {
  .aboutContainer .aboutImg {
    width: 90%;
  }
}